extends layout

block content
    include inner
    div.page-inner
        div.container
            div.main-wrapper
                div.row.row-top
                    div.col-lg-6
                        img.mb-3(src="../public/images/eye-icon.png")
                        h4.mb-0 OUR OBSERVATION
                div.row.row-main
                    div.col-lg-12
                        h2.page-title Over 
                            strong 67 percent of people across the world 
                            | believe that climate change is a major threat to their lives.
                    .col-lg-6
                        p.text-page In the US, most Americans say that Congress is doing too little to protect the environment when it should be a top
                            | priority. And yet elected officials have done little to curb the emissions that are re-shaping the world fas and worsening old challenges for communities across the globe.
                    .col-lg-6
                    .col-lg-12
                        .row.grid
                            .col-xl-7.col-lg-7.col-md-7
                                .row
                                    div.grid-column.third-order
                                        img(src="../public/images/about/about_1.png")
                                        img(src="../public/images/about/about_2.png")
                                    div.grid-column.grid-column-margin
                                        img(src="../public/images/about/about_3.png")
                                        img(src="../public/images/about/about_4.png")
                                        img(src="../public/images/about/about_5.png")
                                    div.grid-column.first-order
                                        img(src="../public/images/about/about_6.png")
                                        img(src="../public/images/about/about_7.png")
                                        img(src="../public/images/about/about_8.png")
                            .col-xl-5.col-lg-5.col-md-5
                                .row
                                    .col-lg-12
                                        h2.grid-title
                                            em There's 
                                            strong a disconnect...
                                    div.grid-column.second-order
                                        img(src="../public/images/about/about_9.png")
                                        img(src="../public/images/about/about_10.png")
                                        img(src="../public/images/about/about_11.png")
                                    div.grid-column.first-order
                                        img(src="../public/images/about/about_12.png")
                                        img(src="../public/images/about/about_13.png")
        .black-section.section-remove-margin
            .container  
                .main-wrapper
                    div.row.row-top
                        .col-lg-12
                            img.mb-3(src="../public/images/about-us-icon.png")
                            h4.mb-0 WHAT ABOUT US
                    div.row.row-main
                        div.col-lg-10
                            h2.page-title  
                                strong ClimateReps wants to bridge this gap 
                                |  between constituents and their representatives.
                            p 
                                strong Select your country and enter your ZIP to find out:
                                ul
                                    li 
                                        p The current amount of greenhouse gas (GHG) that your State/region/large city emits.
                                    li 
                                        p The target levels set by your local government.
                                    li 
                                        p The name and contact info of the people in charge - the key people who are supposed toprotect you  from the long-term effects of climate change. 
                                            | For the US, this means Senators, House of Represen  tative members, Governors and Mayors of large cities.


        include ../components/search
        include ../components/footer
            