extends layout

block content
 
    div.page-wrapper.page-inner
        div.container
            div.main-wrapper
                div.row.row-top
                    div.col-lg-5
                      h4 NORTH AMERICA
                    each contact in data
                      h2 #{contact['city']},
                      - break
                      test
                      
