body {
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  background-color:#ffffff;

}

a {
  color: #00B7FF;
}

button {
    cursor:pointer;
}

.container {
    /*max-width:89%;*/
}

.page-wrapper{
    /*background-image: url(../images/Background_Page01.jpg);*/
    background-color:#000;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar-wrapper {
    width: 100%;
    border-bottom: 1px solid #262729;
   height: 90px;    
}

.navbar-nav {
    border-right: 1px solid #262729;
    height: 90px;
    padding-top: 24px;
    padding-right: 30px;
}

.navbar {
    padding: 0;
}

.navbar-brand{
    padding-top:0;
    padding-right: 15px;
}

.navbar-brand .logo{
    width: 160px;
    height: auto;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-light .navbar-nav .nav-link{
    color: #fefefe;
    font-family: Poppins;
    font-size: 15px;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #fefefe;
}

.navbar-expand-lg .navbar-collapse {
    margin-top: 0px;
}

nav input.input{
    border-radius:30px;
    height:32px;
    border:1px solid #fefefe;
    background-color: transparent;
    color:#fefefe;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
    font-family: Poppins;
    width: 200px;
    outline: none;
    box-shadow:none;
}

nav input.input:focus {
    border-radius: 30px;
    height: 32px;
    border: 1px solid #fefefe;
    background-color: transparent;
    font-size: 13px;
    font-family: Poppins;
    /*outline: none;*/
}

:focus {
    outline: -webkit-focus-ring-color auto 0px;
    outline: focus-ring-color auto 0px;
}

.top-bar-icon-country button{
    border-radius:30px;
    height:32px;
    border:1px solid #fefefe;
    background-color: transparent;
    padding-left: 15px;
    padding-right: 15px;
    color:#fefefe;
    font-size: 15px;
    font-family: Poppins;
    width: 70px;
}

.top-bar-icon-country .dropdown-menu{
    text-align: center;
    width: 70px;
    background-color: transparent;
    min-width: auto;
}

.top-bar-icon-country.dropdown {
    padding-right: 30px;
    border-right: 1px solid #262729;
    height: 90px;
    padding-top: 29px;  
}

.ninner{
    padding-top:0px;
    padding-bottom:40px;
}

.ninner .navbar-brand{
    margin-top: -10px;
}

button:focus {
    outline: 0;
}

.top-bar-icon-lang button{
    border:0;
    background-color: transparent;
    height:32px;
    padding-left: 15px;
    padding-right: 15px;
    color:#3de2d2;
    font-size: 15px;
    font-family: Poppins;
    font-weight: bold;
    text-transform: uppercase;
    width:80px;
    letter-spacing: 2px;
}

.top-bar-icon-lang.index-lang button{
    color:white;
}

.navbar .home-submit-button {
    border: 1px solid #fefefe;
    border-radius: 30px;
    height: 32px;
    background-color: #fefefe;
    padding-left: 15px;
    padding-right: 15px;
    color: #333;
    font-size: 13px;
    font-family: Poppins;
    font-weight: 700;
    outline: none;
    box-shadow: none;
}

.navbar .submit-button {
    border: 1px solid #3de2d2;
    border-radius: 30px;
    height: 32px;
    background-color: transparent;
    padding-left: 15px;
    padding-right: 15px;
    color: #555;
    font-size: 13px;
    font-family: Poppins;
    font-weight: 700;
    outline: none;
    box-shadow: none;
}

.top-bar-icon-lang .dropdown-menu{
    text-align: center;
    background-color: transparent;
    min-width: auto;
    width:80px;
}

.div-input{
    margin-left: 0px;
    margin-right: 10px;
}

.top-bar-icon-lang{
    /*margin-left: 15px;*/
}
form.form-signin.form-inline {
    height: 90px;
    border-right: 1px solid #262729;
    padding-right: 14px;
    padding-left:20px;
}

.navbar .form-signin.form-inline {
    min-width:300px;
    /*margin-left:15px;*/
    margin:0 auto;
}

.main-wrapper{
/*    padding-top: 60px;
*/    
    padding-left:15px;
    padding-right:15px;
}

.main-wrapper h3{
    font-family: Poppins;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    color:#3de2d2;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.main-wrapper h1{
    font-family: Poppins;
    font-size: 45px;
    line-height: 55px;
    font-weight: 400;
    color:#ffffff;
    margin-bottom: 40px;
}

.main-wrapper h1 span{
    font-weight: 700;
}

.main-wrapper p{
    font-family: Roboto;
    color:#fff;
    font-size: 16px;
    line-height: 27px;
}

.main-wrapper p span{
    font-weight: bold;
}

.btn-test{
    width: 216px;
    height:60px;
    font-family: Poppins;
    font-weight: bold;
    line-height: 54px;
    color: #fff;
    display: inline-block;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.5);
    text-transform:uppercase;
    border-radius: 60px;
    border: 3px solid #fff;
    letter-spacing: 2px;
    margin-top: 30px;
}

.btn-test span{
    color: #3de2d2;
    text-transform:uppercase;
}

.btn-test:hover{
    text-decoration: none;
    color: #fff;
}

.page-inner{
    background-image: none;
    background-color: #fff;
    margin-top:60px;
}

.page-inner-state{
    display:block;
    width:100%;
    color:#ccc;
    background-image: none;
    background-color: #000;
    margin-top:60px;
    padding-left:60px;
    padding-right:60px;
}

.page-inner-state h4 {
    color:#c5c5c5 !important;
    font-size:30px !important;
    margin-top:30px;
    font-weight:normal !important;
}

.page-inner-state h6 {
    color:black;

}

.page-inner-state h4 b {
    color:#fff;
    font-size:30px;
    font-weight:semi-bold;
}

.page-inner-state div {

}

.navbar-inner{
    
}

.navbar-inner .navbar-nav .nav-link {
    color: #000;
}

.navbar-inner input.input {
    border: 1px solid #3de2d2;
    }

 .navbar-inner input.input:focus {
    border: 1px solid #3de2d2;
}

.navbar-inner .top-bar-icon-country button {
    border: 1px solid #3de2d2;
}

.nw-inner, .nw-inner .navbar-nav, .nw-inner .top-bar-icon-country.dropdown, .nw-inner form.form-signin.form-inline{
border-color:#d9d9d9;
}

.nav-link.active {
    font-weight: 700;
}

.row-top{
    margin-bottom: 15px;
}

.row-top h4{
    font-family: Poppins;
    font-size: 15px;
    font-weight: bold;
    color: #3de2d2;
    letter-spacing: 2px;
    line-height: 20px;
    margin-bottom: 30px;
}

.row-top h2{
    font-family: Poppins;
    font-size: 45px;
    font-weight: bold;
    color: #000;
    line-height: 50px;
    margin-bottom: 20px;
}

.row-top h2 span{
    text-transform: uppercase;
    font-weight: 400;
}

.row-top p{
    font-family: Roboto;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color:#000;
}

.row-top p span{
    font-weight: bold;
}


.col-item{
    padding-right: 15px;
    padding-bottom: 60px;
    display: flex;
}

.item-data {
    padding-left: 30px;
}

.item-img{

}

.avatar-container{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;

}

.avatar-container img{
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.item-data h5{
    font-family: Poppins;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: #384c4a;
    text-transform: uppercase;
    margin-bottom: 0;
}

.item-data h5.role{
    color: #3de2d2;
    font-weight: 700;
    margin-bottom: 10px;
}

.item-data h4{
    font-family: Poppins;
    font-size: 18px;
    line-height: 29px;
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
    margin-top: 5px;
}

.item-data label{
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    margin-bottom: 0;
}

.committee-label:hover{
    color:#888;
    cursor:pointer;
}

.committee-text{
    display:none;
}

.item-data span{
    color: #5e6f6d;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.item-data .contacts{
    margin-top: 15px;
}

.item-data .bi{
    width: 21px;
    height: 21px;
}

.item-data .contacts a  {
    margin-right: 20px;
}

.item-data .bi-geo-alt{
    margin-right: 5px;
}

.progress{
    /*margin:0 0;*/
    margin-left:60px;
    margin-bottom:15px;
    height: 36px;
    border-radius: 36px;
    position: relative;
}

.progress h6{   
    float: right;
    font-family: Poppins;
    font-size: 18px;
    align-self: flex-end;
    position: absolute;
    top: 6px;
    right: 10px;

}

.progress-bar{
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background: rgb(61,217,225);
    background: linear-gradient(180deg, rgba(61,217,225,1) 0%, rgba(61,225,211,1) 100%);
    border-radius: 36px;
    transition: width .1s ease;
}

.state-progress .porgress-bar {
    opacity:.9;
}

.select-progress{
    width:100%;
    padding-bottom:10px;
    text-align:center;
   
}

.progress-link{
    color:#5e6f6d !important;
    font-family: Poppins;
    font-size: 20px; 
    cursor:pointer;
}
.progress-link:hover{
    opacity:0.6;
}

.progress-link.active{
    font-weight:bold;
    color:#333 !important;
}

#my-state-page{
    background:black;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.state-selection {
    background-color: #999; 
    border: none;
    border-radius: 100px;
    color: #fff;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Poppins;
    font-size: 16px;
    margin: 5px 5px;
    cursor: pointer;
}

.state-selection:hover {
    background-color: #999; 
}

.state-selection.active {
    background-color: #3de2d2; /* Green */
}


.state-progress{
    height:30px;
    display:block;
}

.state-title{
    font-size:24px !important;
    color:white !important;
}

.state-column{
    display:block;
}
.state-column.hidden{
    display:none;
}

.state-progress-column{
    font-size:16px;
    max-width: 50%;
}

.state-section{
    margin-top:15px;
    margin-bottom:15px;
    margin-left:-5px;
}

.state-section .row{
    padding-left:10px;
}

.state-section .col-lg-12{
    margin-bottom:15px;
}

.state-section::before{
    display: inline-block;
    content: "";
    border-top: 2px solid #333;
    width: 100%;
    margin: 10px 5px;
    transform: translateY(-5px);
}

.states-list{
    margin-top:15px;
}

.row .state-goal{
    font-size:14px;
    letter-spacing: 1px;
    color:#eee;
}

.progress-bar.state-bar{
    font-size:20px;
    max-width: 50%;
}

.show-country-goal{
    width: 200px;
    height:30px;
    font-family: Poppins;
    float:right;
    line-height: 26px;
    color: #fff;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    background-color:rgba(0, 0, 0, 0.5);
    text-transform:uppercase;
    border-radius: 60px;
    border: 1px solid #3de2d2;
    letter-spacing: 1px;
}

.show-country-goal:hover{
    opacity:.7;
}

.page-inner .container {
    height: auto;
}

.btn-test img {
    margin-right: 10px;
}

.navbar-toggler {
    border: 0;
    border-radius: 0;
}

.close-menu-mobile{
  display:none;
}

.panel-search .top-bar-icon-country button {
    width: 200px;
}

.panel-search label.labelsmall {
    text-align: left;
    color: #fff;
    display: block;
    margin-bottom: 5px;
    font-size:15px;
    line-height:20px;
    font-weight:bold;
}

.panel-search input, .panel-search .top-bar-icon-country button{
    border-radius: 30px;
    outline-width: 0;
    height: 40px;
    border: 1px solid #fefefe;
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    color: #fefefe;
    font-size: 15px;
    font-family: Poppins;
    width: 200px;
    line-height: 38px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.panel-search form.form-signin.form-inline {
    height: auto;
}

.panel-search .top-bar-icon-country.dropdown {
    padding-right: 0px;
    border-right: 0;
    height: auto;
    padding-top: 0;
}

.panel-search .div-input {
    display:inline-block;
    margin-right: 0px;
}

.panel-search form.form-signin.form-inline {
    height: auto;
    border-right: 0;
    padding-right: 0;
}

.panel-search{
margin-top:30px;
}

.panel-search{
display:none;
}

.panel-search.visible{
    display: block;
}

.item-data a{
color:#3de2d2;
}

.item-data a:hover{
color:#000;
}

.navbar-inner input {
    color: #000 !important;
}

.navbar-inner .top-bar-icon-country button {
    color: #000 !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #3de2d2;
}

.side-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    padding-bottom: 200px;
    /*margin-bottom: 30px;*/
}

.my-zip-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    padding-top:30px;
    padding-bottom: 30px;
    /*margin-bottom: 30px;*/
}

/*SEARCH*/
.search-container{
    display: flex;
    background-image: url(../images/search_bg.jpg);
    background-position: center;
    padding: 80px 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    position: relative;

}
.search-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.search-container h2{
    font-family: Poppins;
    font-weight: 700;
    font-size: 2.3rem;
    margin-bottom: 30px;
}

.search-container p{
    font-size: 18px;
    line-height: 27px;
}

.search-container hr{
    border-top: 1px solid rgba(255,255,255,0.5);
    width: 60%;
    margin-top: 30px;
    margin-bottom: 40px;
}

.search-container .submit-button{
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 30px;
    height: 40px;
    border: none;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-family: Poppins;
    line-height: 38px;
    font-weight: 700;
    color: #000;
    cursor:pointer;
}

.index-submit-button{
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 30px;
    height: 40px;
    border: 1px solid #fefefe;
    background-color: #fefefe;
    color:#333;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-family: Poppins;
    line-height: 38px;
    font-weight: 700;
    cursor:pointer;
    margin-top:25px;
}

.index-left-column{
    padding-top:30px;
    max-width:75%;
    display:inline-block;
}


.index-right-column{
    max-width:30%;
    display:inline-block;
    vertical-align:top;
    text-align:left;
}

.index-right-column img{
    max-height:300px;
    max-width:300px;
}




.search-container .panel-search{
    width: 100%;
}

/*FOOTER*/
footer{
    background-color: #000;
    width: 100%;
}
.main-footer{
    border-bottom: 1px solid #1e1e1e;

}

.footer-menu .navbar-nav{
    height: auto;
    border-right: 0;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    min-height: 170px;
}


.footer-menu .nav-link{
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}

.footer-menu .nav-link:hover{
    color: #3de2d2;
}

.footer-menu {
    padding: 0 15px 0 60px;
    border-left: 1px solid #1e1e1e;
}

.footer-logo{
    padding: 15px 0;
    display: flex;
    align-items: center;
}

.footer-logo img {
    padding: 10px 0;
    margin-top: -10px;
}

.site-info-footer{
    color: #383838;
    padding: 10px 0;
    
}
.terms-links{
    min-height: 70px;
    display: flex;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
}
.site-info-footer a{
    color: #383838;
    padding: 0 8px;
    text-decoration: none;
}
.site-info-footer a:hover{
    color: #3de2d2;
    opacity: 0.7;
}
.social {
    margin-left: -10px;
    margin-right: -10px;
}

/*Q&A*/
.question{
    cursor: pointer;
    font-family: Poppins;
    position: relative;
    font-size: 30px;
}

.row-main .answer{
    color: #000;
}

.answer {
    margin-top: 30px;
}

.question-container{
    margin-bottom: 50px;
    padding-left: 60px;
    position: relative;
}

.question-container hr{
    border-top: 1px solid #3de2d2;
    margin-top: 40px;
    margin-bottom: 0;
}

.question::before, .question::after{
    content: "";
    position: absolute;
    top: 17px;
    left: -40px;
    height: 3px;
    width: 11px;
    transition: transform .4s linear;
    background-color: #3de2d2;
}

.question::after{
    transform: rotate(0deg);
}

.question.collapsed::after{
    transform: rotate(90deg);
}

/*ABOUT*/

.page-title{
    font-family: Poppins;
    margin-bottom: 30px;
    font-size: 30px;
}
.main-wrapper .text-page{
    color: #000;
}

.grid-column {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-column img {
    padding: 15px 0;
    height:277px;
    width: 188px;
    max-width: 100%;
    object-fit: cover;
}
.grid-title{
    font-family: Poppins;
    font-size: 42px;
}
.grid-column-margin{
    margin-top: 100px;
}
.col-lg-7 .grid-column{
    width: 33.3%;
}

.col-lg-5 .grid-column{
    width: 50%;
}

.black-section .page-title{
    font-family: Poppins;
    margin-bottom: 30px;
    color: #fff;
}

.black-section {
    background-color: #000;
    padding-top: 80px;
    padding-bottom: 80px;
}
.black-section ul li{
    color: #fff;
}

.section-remove-margin{
    padding-top: 32%;
    margin-top: -28%;
}

/*SUBMIT BUG*/
.climatereps-form{
    margin-top: 30px;
    margin-bottom: 50px;
}

.climatereps-form textarea{
    height: 226px;
    resize: none;
}

.climatereps-form label{
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
}
.climatereps-form .form-control{
    margin-bottom: 10px;
}
.climatereps-form input {
    height: 45px;
}
.climatereps-form input, .climatereps-form textarea{
    border-radius: 15px;
    border-color: #ade0db;
    background-color: #f5fcfb;

} 
.climatereps-form button{
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 30px;
    height: 45px;
    border:2px solid #000;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-family: Poppins;
    line-height: 40px;
    font-weight: 700;
    color: #000;
}

.climatereps-form button strong{
    font-weight: bold;
    color: #3de2d2;
}


/*tool tips*/
/* Tooltip container */
.custom-tooltip {
  position: relative;
  display: inline-block;
  font-family: Poppins;
  font-size: 14px;
  top:4px;
  width:24px;
  height:24px;
  vertical-align:center;
  font-weight:bold;
  border-radius:50%;
  border:2px #555 solid;
  text-align:center;
}

.custom-tooltip.center-tooltip {
    margin-top:40px;
}

/* Tooltip text */
.custom-tooltip .custom-tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
    font-size: 12px;
    font-weight:normal;


}

.custom-tooltip a {
    color:#fefefe;
}

.custom-tooltip .custom-tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.custom-tooltip:hover .custom-tooltiptext {
  visibility: visible;
}

.col-lg-11.progress-column{
    max-width: 91.666667% !important;
}

@media screen and (max-width:1200px){
    .container {
        max-width:100%;
    }

    .page-inner .container{
        padding:0px 15px;
    }   

    .index-left-column{
        max-width:60%;
        display:inline-block;
    }

    .index-right-column{
        max-width:30%;
        display:inline-block;
        vertical-align:top;
        text-align:left;
    }
}

@media screen and (max-width:991px){
    .main-wrapper {
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left:15px;
        padding-right:15px;
    }
    .page-wrapper {
        min-height: 100vh;
    }
    .navbar-collapse.collapse.show .close-menu-mobile {
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        cursor:pointer;
    }
    .menu-opened-close {
        align-self: center;
        margin-left: auto;
    }
    .main-wrapper h1 {
        font-size: 30px;
        line-height: 45px;
    }

    .index-right-column img{
        max-width:250px;
    }
    .navbar-wrapper {
        height: auto;
        padding-top: 20px;
        max-height: 95px;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url(../images/menu.png);
        background-repeat:no-repeat;
    }
    .navbar-expand-lg .navbar-collapse {
        margin-top: 0px;
        background: #000;
        position: absolute;
        top: 0;
        left: -15px;
        min-height: 100vh;
        margin-right: -15px;
        width: 100vw;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        padding-bottom: 35px;
    }
    .navbar-nav {
        border-right: 0;
        height: auto;
        padding-top: 60px;
        padding-right: 0;
    }

    nav input.input{
        color:#fefefe;
    }

    .top-bar-icon-country.dropdown {
        padding-right: 0;
        border-right: 0;
        height: auto;
        padding-top: 0;
    }
    form.form-signin.form-inline {
        height: auto;
        border-right: 0;
        padding-right: 0;
        display: block;
        border-top: 1px solid #262626;
        padding-top: 60px;
        margin-top: 60px!important;
        margin-left: -15px;
        margin-right: -15px;

    }
    .navbar .submit-button {
        color:#777;
    }
    .top-bar-icon-lang {
/*        margin-left: -15px;
        margin-right: -15px;*/
        display: inline-block;
/*        padding-top: 40px;
        border-top: 1px solid #262626;
        margin-top: 60px;*/
    }
    .div-input {
        display: inline-block;
    }
    .top-bar-icon-country.dropdown {
        display: inline-block;
    }   
    .top-bar-icon-country button {
        border: 1px solid #fff;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #3de2d2 !important;
        font-size: 35px;
        margin-bottom: 20px;
    }

    .page-wrapper {
        height: auto;
    }
    .row-main .col-lg-9{
        order:2;
    }
    .row-top h2 {
        font-size: 35px;
        line-height: 40px;
    }
    .progress {
        margin-top: 10px;
        margin-left: 45px;

    }

    .page-inner {
        margin-top: 0px;
    }

    .item-data p {
        word-break: break-all;
    }

    .progress h6 {
        font-size: 16px;
        margin-left: 15px;
    }

    .progress-bar {
        font-size: 16px;
    }

    .state-progress .progress-bar {
        font-size: 20px;
    }

    .navbar-wrapper.nw-inner {
        padding-top: 0;
    }
    .navbar-expand-lg .navbar-collapse {
        z-index: 99;
    }
    .top-bar-icon-country button img {
        width: auto;
    }
    .navbar-inner {
        padding-top: 26px;
    }
    .ninner .navbar-expand-lg .navbar-collapse {
        padding-top: 25px;
    }
        .panel-search form.form-signin.form-inline {
        display: block;
        border-top: 0;
        padding-top: 0;
        margin-top: 0px!important;
        margin-left: 0;
        margin-right: 0;
    }
    .panel-search .div-input {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .footer-menu .navbar-nav{
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
    .footer-menu{
        padding-left: 15px;
    }
    .footer-logo{
        padding-left: 15px;
        margin-top: 0;
    }
    .terms-links{
        min-height: auto;
        padding: 10px 0;
    }
    .grid-title{
        font-size: 38px;
    }
    .section-remove-margin {
        padding-top: 40px;
        margin-top: 0;
    }
    .custom-tooltip {
      top:14px;
    }
}

@media screen and (max-width:767px){
    .grid .col-md-7{
        order: 2;
    }
    .grid .col-md-5{
        order: 1;
    }
    .grid-column img{
        padding:15px;
    }
    .col-md-5 .grid-column, .col-md-7 .grid-column {
        width: 100%;
    }
    .col-md-5 .grid-column img, .col-md-7 .grid-column img {
        width: 33.3%;
    }
    .grid-column{
        flex-direction: row;
    }
    .grid-column-margin{
        margin-top: 0;
    }
    .first-order{
        order: 1;
    }
    .second-order{
        order:2;
    }
    .third-order{
        order: 3;
    }
    .navbar-inner input {
        color: #fefefe !important;
    }

}    

@media screen and (max-width:492px){
    .main-wrapper h1 {
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 28px;
    }
    .navbar-inner input {
        color: #fff;
    }
    .index-image {
        display:none;
/*        height:110px;
        margin-top:-30px;*/
    }
    .navbar-brand {
        padding-right: 0;
    }
    .my-zip-img{
        object-fit:cover;
        height:120px;
        width:100%;
        overflow:hidden;
        padding-bottom:0px;
        padding-top:15px;
    }
    .state-progress-column{
        max-width:100%;
    }
    .progress{
        margin-left: 0px;
    }
    .page-inner-state{
        padding-left:15px;
        padding-right:15px;
    }
}
