footer
    .main-footer
        .container
            .row
                .footer-logo.col-lg-4
                    img(src="/public/images/logo_footer.png")
                .footer-menu.col-lg-8
                    ul.navbar-nav
                            li.nav-item
                                a(class="nav-link" href="/about") About
                            li.nav-item
                                a(class="nav-link" href="/submit-bug") Submit bug
                            li.nav-item
                                a(class="nav-link" href="/question-answers") Q&A
                            li.nav-item
                                a(class="nav-link" href="mailto:climatereps@gmail.com") Contact
    .site-info-footer
        .container
            .row.align-items-center
                .col-lg-3
                    .social
                        a(href="#")
                            img(src="/public/images/facebook.png")
                        a(href="#")
                            img(src="/public/images/twitter.png")
                        a(href="#")
                            img(src="/public/images/instagram.png")
                .col-lg-6
                    .terms-links
                        a(href="#") Privacy policy
                        |  • 
                        a(href="#") Terms and Conditions
                        |  • 
                        a(href="#") Licensy
                        |  • 
                        a(href="#") Cookies
                .col-lg-3
                    p.mb-0 Copyright © 2020 
                        strong ClimateReps